<div class="welcome-container" nz-flex [nzVertical]="true" nzJustify="flex-start" nzGap="middle" nzAlign="center">
    <h2 nz-typography class="welcome-title">Bienvenido Administrador</h2>

    <!-- Íconos con etiquetas de navegación a Usuarios y Productos -->
    <div class="flex-item">
        <div class="icon-wrapper" nz-flex [nzGap]="'middle'" nzWrap="wrap" nzAlign="center">
            <!-- Ícono y etiqueta de Usuarios -->
            <a (click)="goToUsers()" style="display: flex; flex-direction: column; align-items: center; cursor: pointer;">
                <i nz-icon nzType="user" nzTheme="outline" style="font-size: 100px; color: white;"></i>
                <span class="icon-label">Usuarios</span>
            </a>

            <!-- Ícono y etiqueta de Productos -->
            <a (click)="goToProducts()" style="display: flex; flex-direction: column; align-items: center; cursor: pointer;">
                <i nz-icon nzType="shopping" nzTheme="outline" style="font-size: 100px; color: white;"></i>
                <span class="icon-label">Productos</span>
            </a>
        </div>
    </div>

    
</div>
